<div class="scrollable">
	<div class="scrollable-content">
		<div class="list-group text-center">
			<!-- cục giới thiệu -->
			<div class="list-group-item list-group-item-home">
				<h1>Socket Client Webapp <small>1.0</small>
				</h1>
			</div>
			
			<!-- Cục cảm biến mưa -->
			<div class="list-group-item list-group-item-home">
				<div>
					<i class="fa fa-gamepad feature-icon text-primary"></i>
				</div>
				<div>
					<h3 class="home-heading">Encoder Position</h3>
					{{encoder_position}}
				</div>
			</div>
			
			<!-- Cục cập nhập giá trị cảm biến -->
			<div class="list-group-item list-group-item-home">
				<div>
					<i class="fa fa-tachometer feature-icon  text-primary"></i>
				</div>
				<div>
					<h3 class="home-heading">đĩa</h3>
					Bao nhiêu vòng? <input type="text" class="input text" ng-model="cycle" ng-change="updateCycle(cycle)" /><br />
					Tới góc bao nhiêu? <input type="text" class="input text" ng-model="position" ng-change="updatePosition(position)" /><br />
					Tốc độ servo? <input type="text" class="input text" ng-model="speed" ng-change="updateSpeed(speed)" /><br />
					Hướng servo?<input type="text" class="input text" ng-model="direction" ng-change="updateDirection(direction, speed)" /><br />
				</div>
			</div>
			
			<!-- Cục cập nhập giá trị servo -->
			<div class="list-group-item list-group-item-home">
				<div>
					<i class="fa fa-tachometer feature-icon  text-primary"></i>
				</div>
				<div>
					<h3 class="home-heading">Cập nhập giá trị servo</h3>
					<input type="text" class="input text" ng-model="servoPosition" ng-change="updateServo(servoPosition)" />
					<input type="button" value="Bật đèn" ng-click="ledOn()" />
					<input type="button" value="Tắt đèn" ng-click="ledOff()" />
					
				</div>
			</div>
			
			
			
		</div>
	</div>
</div>